@CHARSET "UTF-8";
.ui-page header{
	text-align: center;
}
#logo{
	max-width: 400px;
}
/* Portrait */
@media only screen 
  and (min-device-width: 414px)
  and (orientation: landscape) { 
	.ui-content{
		max-width: 400px;
		margin: auto;
	}
}

.preview, h3, #summary{
	text-align: center;
}
.preview img{
	width: 95%;
	border: 3px solid #C6A77D;
	box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(16, 6, 6, 1) /*{global-box-shadow-color}*/;
}
#order-form .package-controls, #order-form .item-controls{
	display: inline-block;
	vertical-align: top;
}

#order-form .package-controls div, #order-form .item-controls div{
	display: inline-block;
	vertical-align: top;
	margin: 0 0.5em 0 0;
}

#order-form .package-controls .ui-btn, #order-form .item-controls .ui-btn{
	padding: 0.5em;
}

#order-form .package-controls .remove{
	display: none;
}

#order-form .title{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5em;
	margin: 0.2em;
	white-space: normal;
	width: 70%;
}

.package-info{
	width: 80%;
    float: right;
    margin: 1em;
}
#order-form p{
	text-align: center;
}

.ui-listview > li p{
	font-size: 1em;
    white-space: normal;
    text-align: left;
}
.package-info .sheet-options{
	list-style: none;
    list-style-image: none;
    text-align: center;
    padding: 0;
}
.item.auto{
	display: none;
}
.item-input label, .item-input div {
	display: inline-block;
	
}
.sheet-options li{
	text-align:center;
}
.sheet-options label, .sheet-options .ui-select{
	display: inline-block;
  	vertical-align: middle;
}
.sheet-options .ui-select{
	width: 80%;
}
#summary h3{
	margin: 0 0 1em 0;
}
#summary ul#details{
	padding: 0em;
	text-align: left;
}

#summary ul#details li{
	list-style:none;
	list-style-image:none;
	font-size: 1em;
	font-weight: bold;
}